@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-image: linear-gradient(to bottom right, rgba(82, 45, 168, 0.767), rgb(97, 28, 104));
    height: 100vh;
}

header > img {
    display: flex;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    margin-top: 20vh;
    padding-bottom: 0px;
}

header > h1 {
    text-align: center;
    margin-bottom: 50px;
    width: 100vw;
}